Django
gunicorn
dj-config-url
psycopg2-binary
dj-database-url
django-heroku
whitenoise
requests
PyJWT
django-allauth
cryptography
pillow
dj-database-url
django-allauth
requests
PyJWT
cryptography
Pillow
django-storages
boto3