body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
header h1 {
  margin: 0;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.nav-left {
  display: flex;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #575757;
}



.vehicle-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.vehicle-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.vehicle-item img {
  width: 100%;
  border-radius: 8px;
}
.vehicle-item h3 {
  margin: 10px 0;
}
.vehicle-item p {
  font-size: 14px;
  color: #666;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.profile-image {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-image:hover {
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}